body{
    /*display:fixed;*/
    position:absolute;
    max-width:100%;
    overflow-x:hidden;
    /*background-image: linear-gradient(#0000ff,blue);*/
}

  #tartalmazo{
       /*background-image: linear-gradient(blue,black);*/
}
#halusztato{
    /*position:absolute;*/
    height: 80vh;
    
}
#hajok{
    display:grid;
    justify-content: space-around;
    
}

#udvozlom{
/*   display:grid;
   grid-template-columns:repeat(3, 1fr);
   grid-column:2/3;*/
display: flex;
  justify-content: center;
  /*align-items: center;*/
}

form{
    display:grid;
    grid-gap:5px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr);
}
form label{
    grid-column:1/2;    
}
form select{
    grid-column:3/4;
}

form button{
    grid-column:2/3;
    grid-row:3/4;
}

#logfelulet{
    margin:auto;
    width:30%;
    border:1px solid black;
    border-radius: 25%;
    background-color: beige;
}

#login h1{
    text-align: center;
}

#login form{
    position:relative;
     display:grid;
    grid-gap:5px;
    grid-template-columns:repeat(2, 40%);
    grid-template-rows:repeat(2, auto);
}
#login form input{
    grid-column:2/3;
}

#login label{
    grid-column:1/2;
    text-align: right;
    padding-right:10px;
}


#login form button{
    margin-top:10px;
    position:absolute;
    grid-column:1/3;
    grid-row:3/4;
    width:50%;
    transform:translateX(-50%);
    left:65%;
}
#reg{
    text-align: center;
    padding-top:30px;
}
body{
    padding:0px;
    margin:0px;

}



#lorem{
    padding:5% 20% 0% 20%;
}


#menu{
  width:40%;
  margin:auto;
}

.menuLista{
  background: rgba(255,255,255,0.2);
  margin-top:0px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left: 0px;
  width:100%;
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
  list-style: none;
}

.menuPont{
  border:1px solid black;
  background: rgba(0,0,0,0.4);
  padding:8px;
  border-radius: 8px;
}

#udvozlo{
 text-align: center;   
}

