#jatekosPalyaKeret{
    margin:auto;
    margin-top:15vh;
    margin-left:0px;
}

#aiPalyaKeret{
    margin-top:20vh;
    margin-right: 0px;
    transform:
        translateX(100%);
    z-index:-1;
    opacity: 0%;
}

#jatekosPalyaKeret{
    /*font-size:14px;*/
}

#reset{
    transition: 1s;
}