.map{
    height:2vh;
    width:2vh;
    background:1px solid black;
}


.szabad{
    display:grid;
    background: green;
    border:1px solid black;
    margin:1px;
}

.hajok{
    margin:auto;
    margin-top: 3px;
    place-items:center;
}

#palyaKeret{
    display:grid;
    width:80%;
    margin:auto;
    margin-top:20vh;
    font-size:14px;
}

#vizszintesKeret{
    display:grid;
    /*margin:auto;*/
    grid-row:1/2;
    grid-column:2/3;
}

#fuggolegesKeret{
    display:grid;
    /*margin:auto;*/
    grid-row:2/3;
    grid-column:1/2;

}

#palyaTartalmazo{
    display:grid;
    grid-row:2/3;
    grid-column:2/3;
}

#hajoTartalmazo{
    display:grid;
    grid-row:3/4;
    grid-column:2/3;
}

.vizszintes{
    /*position:absolute;*/
    text-align: center;

    /*margin:2px;*/
}
.fuggoleges{
    /*position:absolute;*/
    /*left:25px;*/
    margin:auto;
    text-align: center;
    transform:
        translateY(15%);
    place-items:center;

}

.kettesHajo{
    width:8px;
    height:8px;
    background:blue;
    margin:auto;
    grid-column:1/2;
}
.harmasHajo{
    background:blue;
    margin:auto;
    grid-column:2/3;
}
.negyesHajo{
    width:8px;
    height:8px;
    background:blue;
    margin:auto;
    grid-column:3/4;
}
.otosHajo{
    width:8px;
    height:8px;
    background:blue;
    margin:auto;
    grid-column:4/5;
}
